@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;


/* VARIABLES */
$padding-default: 3rem;
$gris-medio: #777;

/* 5 COLUMNS GRID */

@media screen and (max-width: 39.9375em) {
    .col5-unit {
        @include grid-column(6);
    }
}

@media screen and (min-width: 40em) {
    .col5-unit {
        @include grid-column(2.4); // (12/5 = 2.4)
    }
}

/* HTML ELEMENTS*/


body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body#index {
    background-color: hsla(27, 0%, 100%, 1);
    background-image:
        radial-gradient(at 28% 43%, hsla(28, 83%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 15% 84%, hsla(79, 92%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 53% 6%, hsla(350, 96%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 64% 9%, hsla(119, 97%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 94% 54%, hsla(334, 66%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 13% 41%, hsla(211, 69%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 70% 56%, hsla(334, 62%, 72%, 1) 0px, transparent 50%);
}

body#archive-av {
    background-color: hsla(123, 0%, 100%, 1);
    background-image:
        radial-gradient(at 73% 42%, hsla(90, 94%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 56% 93%, hsla(105, 64%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 84% 13%, hsla(251, 60%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 75% 46%, hsla(307, 87%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 22% 92%, hsla(128, 98%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 74% 47%, hsla(352, 91%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 31% 61%, hsla(301, 90%, 78%, 1) 0px, transparent 50%);
}

body#archive-codigo {
    background-color: hsla(177, 0%, 100%, 1);
    background-image:
        radial-gradient(at 30% 90%, hsla(147, 84%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 63% 47%, hsla(284, 88%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 7% 3%, hsla(159, 72%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 24% 5%, hsla(170, 76%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 84% 97%, hsla(36, 69%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 58% 63%, hsla(104, 80%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 36% 34%, hsla(344, 91%, 71%, 1) 0px, transparent 50%);
}

body#archive-editorial {
    background-color: hsla(106, 0%, 100%, 1);
    background-image:
        radial-gradient(at 65% 92%, hsla(48, 87%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 33% 75%, hsla(211, 96%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 89%, hsla(321, 95%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 52% 77%, hsla(24, 91%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 35% 89%, hsla(152, 84%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 51% 1%, hsla(15, 90%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 12% 2%, hsla(337, 72%, 66%, 1) 0px, transparent 50%);
}

body#archive-visual {
    background: $gris-medio;
}

body#archive-identidad {
    background-color: hsla(269, 0%, 100%, 1);
    background-image:
        radial-gradient(at 65% 38%, hsla(157, 65%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 3%, hsla(47, 73%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 7% 42%, hsla(16, 70%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 53% 92%, hsla(10, 60%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 38% 12%, hsla(247, 76%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 77% 34%, hsla(237, 90%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 93%, hsla(144, 88%, 70%, 1) 0px, transparent 50%);
}


body#archive-vivo {
    background-color: hsla(47, 0%, 100%, 1);
    background-image:
        radial-gradient(at 97% 35%, hsla(354, 60%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 97% 50%, hsla(310, 93%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 16%, hsla(244, 61%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 44% 13%, hsla(166, 74%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 84%, hsla(254, 71%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 76%, hsla(227, 87%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 45% 15%, hsla(352, 85%, 76%, 1) 0px, transparent 50%);
}

body#single {
    background-color: hsla(242, 0%, 100%, 1);
    background-image:
        radial-gradient(at 34% 24%, hsla(14, 68%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 56% 97%, hsla(22, 96%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 85% 84%, hsla(312, 87%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 59% 10%, hsla(34, 62%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 60% 19%, hsla(191, 75%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 85% 18%, hsla(133, 62%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 69% 97%, hsla(322, 88%, 62%, 1) 0px, transparent 50%);
}

h1 {
    font-size: 2.5vw;
    text-transform: capitalize;
    letter-spacing: -1rem;
    margin-bottom: $padding-default;
    @include breakpoint(small only) { 
        font-size: 2rem;
    }
}



h2 {
    font-size: 1rem;
}

h3 {
    font-size: .8rem;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
    letter-spacing: -0.025rem;
}

p {
    a {
        text-decoration: underline;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }
}
.button{
    color: black;
  background: white;
  font-weight: bolder;
}
.rounded{
    border-radius: 5px;
}


/* PAGES COMPONENTS */

#intro-content,
#single-content {
    p {
        font-size: 1.4rem;
        margin: 2rem 0;
        padding: 0;
    }

    p.small {
        font-size: .85rem;
    }

}

#intro-content {
    .description {
        margin-bottom: 3rem;
    }
}

#main-content-section {
    margin: $padding-default 0;
    position: absolute;
    min-width: 100%;
    top: 0;

    .index-content-item,
    .archive-content-item {
        height: 100%;
        display: block;
        margin-bottom: $padding-default;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0);
        transition: all .1s ease-in-out;

        img {
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            opacity: 0.5;
            transition: all .1s ease-in-out;

        }

        h2 {
            margin: 1rem 0 .5rem 0;
        }
    }

    .index-content-item:hover,
    .index-content-item:focus,
    .archive-content-item:hover,
    .archive-content-item:focus {
        // background: rgba(255, 255, 255, 1);

        img {
            opacity: 1;
        }
    }

    #related-content {
        margin-top: 2rem;
    }
}

/* MASONRY */

.flexmasonry-item{
    a{
        display: block;
        padding: 5px;
    }
}

/* LIGHTBOX */

.featherlight .featherlight-content{
        background: $dark-gray;
}
.featherlight:last-of-type {
  background: rgba(0,0,0,.9);
}


/* BREADCRUMBS */

.breadcrumbs {
    li {
        a {
            text-decoration: underline;
        }

        a:hover,
        a:focus {
            text-decoration: none;
        }
    }
}

/* FOOTER */

footer {
    border-top: 1px solid rgba(0, 0, 0, .4);
    padding-top: 1rem;
    margin: 6rem 0 2rem 0;

    * {
        font-size: 1rem !important;
        line-height: 1.4;
    }

    h3 {
        margin: 0;
    }

    h3,
    span.label {
        padding: .7rem 1rem;
        border-radius: 5px;
    }

    a {
        text-decoration: underline !important;
    }

    a:hover,
    a:focus {
        text-decoration: none !important;
    }
}